form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.button-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  font-family: 'Bungee', cursive;
}

form label {
  border-bottom: 5px solid black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#tweet-text {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
  resize: none;
}

#tweet-text:focus {
  outline: none;
}

form button {
  font-family: 'Bungee', cursive;
  background-color: blue;
  margin-bottom: 20px;
  color: white;
  padding: 10px 20px;
}

.negative {
  color: red;
}

.tweet {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.tweet:hover {
  box-shadow: 15px 15px 0px -5px rgba(203, 203, 203, 0.6);
}

#header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#header img {
  margin-right: 10px;
  min-width: 100px;
  max-width: 100px;
  height: auto;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  font-family: 'Source Sans Pro', sans-serif;
}

.user-info span {
  color: rgb(166, 163, 163);
}

.tweet-content {
  margin-bottom: 10px;
  border-bottom: 5px solid black;
}

#footer {
  display: flex;
  align-items: flex-start;
}

#footer #icons {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
}

#footer a {
  margin-left: 10px;
}

.like-icon:hover,
.retweet-icon:hover,
.comment-icon:hover {
  color: rgb(210, 156, 113);
}
